<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                           <h1>Changes I Plan To <em>Make To My Diet</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>Which parts of my diet will I continue? </td>
                                <td>Which parts of my diet will I change
                                </td>
                                <td>How will I achieve the changes?</td>
                            </tr>
                            <tr>
                                <td><button  style="background-color: transparent;border:none;" id="button19"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                                    <div id="column19">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea19" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button20"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                                    <div id="column20">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea20" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button21"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column21">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea21" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button22"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column22">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea22" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button23"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column23">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea23" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                                </td>
                                <td>
<button  style="background-color: transparent;border:none;" id="button24"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column24">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea24" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button25"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column25">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea25" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button26"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column26">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea26" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button27"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column27">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea27" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button28"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column28">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea28" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                                </td>
                                <td>
<button  style="background-color: transparent;border:none;" id="button29"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column29">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea29" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button30"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column30">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea30" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button31"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column31">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea31" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button32"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column32">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea32" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>


<button  style="background-color: transparent;border:none;" id="button33"><i class="fa fa-microphone" aria-hidden="true"></i></button>
<div id="column33">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea33" name="text" cols="30" rows="1" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                                </td>
                            </tr>
                        </table>
                        <p>When will you try out this technique? <button  style="background-color: transparent;border:none;" id="button34"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="column34">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea34" name="text" cols="100" rows="5" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                        <p>Day / Date: <button  style="background-color: transparent;border:none;" id="button35"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="column35">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea35" name="text" cols="100" rows="5" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                        <p>What will you do? <button  style="background-color: transparent;border:none;" id="button36"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="column36">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea36" name="text" cols="100" rows="5" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             
</div>
    <script>

    // status fields and start button in UI
    
    var textarea19,textarea20,textarea21,textarea22,textarea23,textarea24,textarea25,textarea26,textarea27,textarea28,textarea29,textarea30,textarea31,textarea32,textarea33,textarea34,textarea35,textarea36;
    var button19,button20,button21,button22,button23,button24,button25,button26,button27,button28,button29,button30,button31,button32,button33,button34,button35,button36;


    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;

    
button19 = document.getElementById("button19");
button20 = document.getElementById("button20");
button21 = document.getElementById("button21");
button22 = document.getElementById("button22");
button23 = document.getElementById("button23");
button24 = document.getElementById("button24");
button25 = document.getElementById("button25");
button26 = document.getElementById("button26");
button27 = document.getElementById("button27");
button28 = document.getElementById("button28");
button29 = document.getElementById("button29");
button30 = document.getElementById("button30");
button31 = document.getElementById("button31");
button32 = document.getElementById("button32");
button33 = document.getElementById("button33");
button34 = document.getElementById("button34");
button35 = document.getElementById("button35");
button36 = document.getElementById("button36");

      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");
     
textarea19 = document.getElementById("textarea19");
textarea20 = document.getElementById("textarea20");
textarea21 = document.getElementById("textarea21");
textarea22 = document.getElementById("textarea22");
textarea23 = document.getElementById("textarea23");
textarea24 = document.getElementById("textarea24");
textarea25 = document.getElementById("textarea25");
textarea26 = document.getElementById("textarea26");
textarea27 = document.getElementById("textarea27");
textarea28 = document.getElementById("textarea28");
textarea29 = document.getElementById("textarea29");
textarea30 = document.getElementById("textarea30");
textarea31 = document.getElementById("textarea31");
textarea32 = document.getElementById("textarea32");
textarea33 = document.getElementById("textarea33");
textarea34 = document.getElementById("textarea34");
textarea35 = document.getElementById("textarea35");
textarea36 = document.getElementById("textarea36");



      
      button28.addEventListener("click", function () {
        button28.disabled = true;
        button28.style.color="red";
        textarea28.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button28.disabled = false;
            button28.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea28.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button28.disabled = false;
            button28.style.color="black";
            textarea28.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button29.addEventListener("click", function () {
        button29.disabled = true;
        button29.style.color="red";
        textarea29.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button29.disabled = false;
            button29.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea29.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button29.disabled = false;
            button29.style.color="black";
            textarea29.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button30.addEventListener("click", function () {
        button30.disabled = true;
        button30.style.color="red";
        textarea30.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button30.disabled = false;
            button30.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea30.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button30.disabled = false;
            button30.style.color="black";
            textarea30.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button31.addEventListener("click", function () {
        button31.disabled = true;
        button31.style.color="red";
        textarea31.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button31.disabled = false;
            button31.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea31.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button31.disabled = false;
            button31.style.color="black";
            textarea31.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button32.addEventListener("click", function () {
        button32.disabled = true;
        button32.style.color="red";
        textarea32.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button32.disabled = false;
            button32.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea32.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button32.disabled = false;
            button32.style.color="black";
            textarea32.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button33.addEventListener("click", function () {
        button33.disabled = true;
        button33.style.color="red";
        textarea33.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button33.disabled = false;
            button33.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea33.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button33.disabled = false;
            button33.style.color="black";
            textarea33.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button34.addEventListener("click", function () {
        button34.disabled = true;
        button34.style.color="red";
        textarea34.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button34.disabled = false;
            button34.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea34.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button34.disabled = false;
            button34.style.color="black";
            textarea34.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button35.addEventListener("click", function () {
        button35.disabled = true;
        button35.style.color="red";
        textarea35.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button35.disabled = false;
            button35.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea35.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button35.disabled = false;
            button35.style.color="black";
            textarea35.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



button36.addEventListener("click", function () {
        button36.disabled = true;
        button36.style.color="red";
        textarea36.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button36.disabled = false;
            button36.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea36.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button36.disabled = false;
            button36.style.color="black";
            textarea36.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });





        button27.addEventListener("click", function () {
        button27.disabled = true;
        button27.style.color="red";
        textarea27.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button27.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button27.disabled = false;
            button27.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea27.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button27.disabled = false;
            button27.style.color="black";
            textarea27.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button26.addEventListener("click", function () {
        button26.disabled = true;
        button26.style.color="red";
        textarea26.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button26.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button26.disabled = false;
            button26.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea26.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button26.disabled = false;
            button26.style.color="black";
            textarea26.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button25.addEventListener("click", function () {
        button25.disabled = true;
        button25.style.color="red";
        textarea25.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button25.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button25.disabled = false;
            button25.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea25.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button25.disabled = false;
            button25.style.color="black";
            textarea25.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button24.addEventListener("click", function () {
        button24.disabled = true;
        button24.style.color="red";
        textarea24.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button24.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button24.disabled = false;
            button24.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea24.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button24.disabled = false;
            button24.style.color="black";
            textarea24.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button23.addEventListener("click", function () {
        button23.disabled = true;
        button23.style.color="red";
        textarea23.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button23.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button23.disabled = false;
            button23.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea23.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button23.disabled = false;
            button23.style.color="black";
            textarea23.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button22.addEventListener("click", function () {
        button22.disabled = true;
        button22.style.color="red";
        textarea22.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button22.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button22.disabled = false;
            button22.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea22.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button22.disabled = false;
            button22.style.color="black";
            textarea22.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button21.addEventListener("click", function () {
        button21.disabled = true;
        button21.style.color="red";
        textarea21.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button21.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button21.disabled = false;
            button21.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea21.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button21.disabled = false;
            button21.style.color="black";
            textarea21.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button20.addEventListener("click", function () {
        button20.disabled = true;
        button20.style.color="red";
        textarea20.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button20.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button20.disabled = false;
            button20.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea20.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button20.disabled = false;
            button20.style.color="black";
            textarea20.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      button19.addEventListener("click", function () {
        button19.disabled = true;
        button19.style.color="red";
        textarea19.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button19.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button19.disabled = false;
            button19.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea19.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button19.disabled = false;
            button19.style.color="black";
            textarea19.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
     

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
      
button19.disabled=false;
button20.disabled=false;
button21.disabled=false;
button22.disabled=false;
button23.disabled=false;
button24.disabled=false;
button25.disabled=false;
button26.disabled=false;
button27.disabled=false;
button28.disabled=false;
button29.disabled=false;
button30.disabled=false;
button31.disabled=false;
button32.disabled=false;
button33.disabled=false;
button34.disabled=false;
button35.disabled=false;
button36.disabled=false;


     
button19.style.color= "black";
button20.style.color= "black";
button21.style.color= "black";
button22.style.color= "black";
button23.style.color= "black";
button24.style.color= "black";
button25.style.color= "black";
button26.style.color= "black";
button27.style.color= "black";
button28.style.color= "black";
button29.style.color= "black";
button30.style.color= "black";
button31.style.color= "black";
button32.style.color= "black";
button33.style.color= "black";
button34.style.color= "black";
button35.style.color= "black";
button36.style.color= "black";



      
document.getElementById('column19').style.display = 'block';
document.getElementById('column20').style.display = 'block';
document.getElementById('column21').style.display = 'block';
document.getElementById('column22').style.display = 'block';
document.getElementById('column23').style.display = 'block';
document.getElementById('column24').style.display = 'block';
document.getElementById('column25').style.display = 'block';
document.getElementById('column26').style.display = 'block';
document.getElementById('column27').style.display = 'block';
document.getElementById('column28').style.display = 'block';
document.getElementById('column29').style.display = 'block';
document.getElementById('column30').style.display = 'block';
document.getElementById('column31').style.display = 'block';
document.getElementById('column32').style.display = 'block';
document.getElementById('column33').style.display = 'block';
document.getElementById('column34').style.display = 'block';
document.getElementById('column35').style.display = 'block';
document.getElementById('column36').style.display = 'block';

document.getElementById('warning').style.display = 'none';
      }
  </script>